<div class="container">
    <h3>Coding Challange</h3>
    <div class="row">
        <div class="col-md-6">
            <input type="text" placeholder="Search for User" [(ngModel)]="searchUsr" list="dynamicUsers" />
            <button class="btn btn-primary mx-2" (click)="getUserDetails()">Search</button>
        </div>
        <datalist id="dynamicUsers">
          <option *ngFor="let usr of userList" [value]="usr.display_name">{{usr.display_name}}</option>
        </datalist>
    </div>
    <div class="row">
        <label>Reputation:</label><span>{{reputation}}</span>
        <label>Location:</label><span>{{location}}</span>
    </div>
</div>